{{define "yield"}}
    <h1>Contact</h1>
    <p>To contact me, please send an email to <a href="mailto:support@myphoto.com">support@myphoto.com</a></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur deleniti eligendi iusto neque
        temporibus ut vero? Architecto at dolor iste magnam natus necessitatibus non nulla, quasi totam velit
        voluptatem.</p>
{{end}}